div {
  outline: 2px solid red;
}

.mainContainer {
  height: 80vh;
  width: 80vw;
}

.tabBox {
  width: 100%;
  display: flex;
  position: relative;
}

.bottomBar {
  position: absolute;
  height: 50%;
  width: 100%;
  bottom: 0;
}

.baseColor {
  background-color: blanchedalmond;
}

.tab {
  height: 100px;
  width: 150px;
}

.home {
        background-color: orange;
        
}

.menu {
        background-color: blue;
}

.contact {
        background-color: violet;
}

.current {
        z-index: 1;
}